@()


<section>
    <article class="row col-md-4 col-md-offset-4">
        <form class="panel panel-info" id="login" action="api/login_form" method="POST">
            <header class="panel-heading">
                <div class="panel-title">Sign in</div>
            </header>
            <div class="panel-body">
                <div class="login-field-username">
                    <label>Username</label>
                    <input type="text" id="username" name="username" placeholder="Username" ng-model="credentials.username" required class="form-control">
                </div>
                <div class="login-field-password">
                    <label>Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" ng-model="credentials.password" required class="form-control">
                </div>
                <input type="hidden" id="redirectTo" name="redirectTo" ng-model="redirectTo">
            </div>
            <footer class="panel-footer">
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-md btn-info">
                        Sign in
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
                <div class="clearfix"></div>
            </footer>
        </form>
    </article>
</section>




