
@template{
<section ng-init="">
    <article class="row col-md-4 col-md-offset-4">
        <form class="panel panel-info" id="register">
            <header class="panel-heading">
                <div class="panel-title">@i18n("module.auth.register")</div>
            </header>
            <div class="panel-body">
                <div class="register-field-username">
                    <label>Username</label>
                    <input type="text" ng-model="register.username" class="form-control" required />
                </div>
                <div class="register-field-firstname">
                    <label>First Name</label>
                    <input type="text" ng-model="register.firstname" class="form-control" required />
                </div>
                <div class="register-field-login">
                    <label>Last Name</label>
                    <input type="text" ng-model="register.lastname" class="form-control" required />
                </div>
                <div class="register-field-email">
                    <label>Email</label>
                    <input type="email" ng-model="register.email" class="form-control" required />
                </div>
                <div class="register-field-password1">
                    <label>Password</label>
                    <input type="password" ng-model="register.password" class="form-control" required />
                </div>
                <div class="register-field-password2">
                    <label>Re-enter password</label>
                    <input type="password" class="form-control" required />
                </div>
            </div>
            <footer class="panel-footer">
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-md btn-info" ng-click="signup()">
                        Register
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </div>
                <div class="clearfix"></div>
            </footer>
        </form>
    </article>
</section>
}