
body {
    padding-top: 48px;
    padding-bottom: 48px;
}


.container-full {
    background-color: hsl(180, 98%, 97%);
    padding: 0 15px;
}

.breadcrumb {
    background-color: hsl(200, 65%, 91%);
}


.alert {
    padding: 5px;
    padding-right: 25px;
    margin-bottom: 1px;
}


.panel-info>.panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}