@()

@template{
<div ng-init="loadMessages()">

    <h4>{{pagination.range}} / {{pagination.total}} Message(s)</h4>

    <table class="table" ng-show="messages.length">
        <thead>
        <tr>
            <th width="20%">Date</th>
            <th width="15%">Sender</th>
            <th width="30%">Title</th>
            <th width="30%">Content</th>
            <th width="5%">*</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="message in messages">
                <td>{{message.creation_date | date:'dd.MM.yyyy HH:mm:ss.sss'}}</td>
                <td>{{message.sender.firstname}}</td>
                <td>{{message.title}}</td>
                <td>{{message.content}}</td>
                <td>
                    <div class='input-group-btn' ng-show="comment.actions.length">
                        <button type='button' class='btn btn-primary dropdown-toggle btn-xs' data-toggle='dropdown'>Action
                            <span class='caret'></span>
                        </button>
                        <ul class='dropdown-menu'>
                            <li ng-repeat="action in message.actions">
                                <a href="{{action.url}}">{{action.name}}</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    @pagination()

</div>
}
