@()
@import org.joda.time.DateTime

@template{
<div ng-init="loadEvents()">

    <h4>{{pagination.range}} / {{pagination.total}} Event(s)</h4>

    <table class="table" ng-show="events.length">
        <thead>
        <tr>
            <th>Date</th>
            <th>Priority</th>
            <th>Metric</th>
            <th>Target</th>
            <th>Value</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in events" ng-class="alertLevel(event.priority)">
                <td>{{event.end_date | date:'dd.MM.yyyy HH:mm:ss.sss'}}</td>
                <td><span class="label label-default">{{event.priority}}</span></td>
                <td>{{event.metric}}</td>
                <td ng-switch="event.metric">
					<a href="{{event.target}}" target="_blank" ng-switch-when="http">{{event.target}}</a>
					<div ng-switch-default>
						{{event.target}}
					</div>
				</td>
                <td>{{event.value | number: 0}}</td>
                <td>{{event.info}}</td>
                <td>
                    <div class='input-group-btn' ng-show="event.actions.length">
                        <button type='button' class='btn btn-primary dropdown-toggle btn-xs' data-toggle='dropdown'>Action
                            <span class='caret'></span>
                        </button>
                        <ul class='dropdown-menu'>
                            <li ng-repeat="action in event.actions">
                                <a href="{{action.url}}">{{action.name}}</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    @pagination()

</div>
}
