@()

<!-- navigation bar -->
<div class="navbar navbar-fixed-top navbar-inverse" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="/index">@i18n("menu.title")</a>
    </div>
    <div class="navbar-collapse collapse" ng-controller="LoginController">
        <ul class="nav navbar-nav" ng-show="!!user.username">
            <li><a ng-href="/events">@i18n("module.events.name")</a></li>
            <li><a ng-href="/tickets">@i18n("module.tickets.name")</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@i18n("menu.admin")<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ng-href="/organisations">@i18n("module.organisations.name")</a></li>
                    <li><a ng-href="/users">@i18n("module.users.name")</a></li>
                    <li><a ng-href="/roles">@i18n("module.roles.name")</a></li>
                    <li><a ng-href="/comments">@i18n("module.comments.name")</a></li>
                </ul>
            </li>

        </ul>
        <div ng-switch="!!user.username" ng-cloak>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"  ng-switch-when="true">
                    <a ng-href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span>
                        {{user.firstname}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="/profile">Profile</a></li>
                        <li><a ng-href="/preferences">Preferences</a></li>
                        <li><a ng-href="/messages">Messages</a></li>
                        <li class="divider"></li>
                        <li><a ng-href="#" ng-click="logout()">logout</a></li>
                    </ul>
                </li>
                <li ng-switch-when="false"><a ng-href="/login" ng-click="">Sign in</a></li>
                <li ng-switch-when="false"><a ng-href="/register">Register</a></li>
            </ul>
        </div>
    </div><!--/.nav-collapse -->
</div>

<ul class="breadcrumb">
    <span class="divider">/</span>
    <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
        <ng-switch on="$last">
            <span ng-switch-when="true">{{breadcrumb.name}}</span>
            <span ng-switch-default><a ng-href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
        </ng-switch>
    </li>
</ul>

<!-- div class="navbar navbar-fixed-bottom navbar-inverse" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="/index">@i18n("menu.title")</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/home">@i18n("menu.info.home")</a></li>
            <li><a href="/about">@i18n("menu.info.about")</a></li>
            <li><a href="/contact">@i18n("menu.info.contact")</a></li>
        </ul>
    </div>
</div -->

