@()

@template{
<div class="row" ng-init="retrieve()">
    <div class="col-md-7">
        <table class="table">
            <tbody>
            <tr>
                <td><label>Name</label></td>
                <td><input type="text" ng-model="organisation.name" class="form-control"/></td>
            </tr>
            <tr>
                <td><label>Descrition</label></td>
                <td><textarea ng-model="organisation.description" class="form-control" rows="3"/></td>
            </tr>
            </tbody>
        </table>
        <button type="button" ng-click="update()" value="Submit">Submit</button>
    </div>
    <div class="col-md-5">
        <table class="table">
            <tbody>
            <tr>
                <td><label>Created</label></td>
                <td>{{organisation.creation_date | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
            <tr>
                <td><label>Updated</label></td>
                <td>{{organisation.update_date | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
}