@template{


<div ng-controller="OrganisationsController">

    <div class="panel panel-primary">
        <div class="panel-heading" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
            <h3 class="panel-title">Create an organisation</h3>
        </div>
        <div class="panel-body" ng-hide="isCollapsed">
            <table class="table">
                <tbody>
                <tr>
                    <td><label>Name</label></td>
                    <td><input type="text" class="form-control" ng-model="organisation.name"/></td>
                </tr>
                <tr>
                    <td><label>Description</label></td>
                    <td><textarea class="form-control" ng-model="organisation.description"/></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="panel-footer" ng-hide="isCollapsed">
            <button type="button" ng-click="create()" class="btn primary">Create</button>
        </div>
    </div>

    <h4>{{pagination.range}} / {{pagination.total}} Organisation(s)</h4>

    <table class="table" ng-show="organisations.length">
        <thead>
        <tr>
            <th width="20%">Created</th>
            <th width="50%">Title</th>
            <th width="10%">*</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="organisation in organisations">
            <td>{{organisation.creation_date | date:'dd.MM.yyyy HH:mm'}}</td>
            <td><a ng-href="/organisations/{{organisation.key}}">{{organisation.name}}</a></td>
            <td>
                <div class='input-group-btn' ng-show="organisation.actions.length">
                    <button type='button' class='btn btn-primary dropdown-toggle btn-xs' data-toggle='dropdown'>Action
                        <span class='caret'></span>
                    </button>
                    <ul class='dropdown-menu'>
                        <li ng-repeat="action in organisation.actions">
                            <a href="{{action.url}}">{{action.name}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    @pagination()
</div>

}