
<ul class="pagination" ng-show="pagination.total > pagination.limit">
    <li><a ng-href="#" ng-click="pagination.loadFirstPage()">|&laquo;</a></li>
    <li><a ng-href="#" ng-click="pagination.loadPreviousPage(1)">&laquo;</a></li>
    <li class="active"><a ng-href="#">{{pagination.currentPage}}</a></li>
    <li><a ng-href="#" ng-click="pagination.loadNextPage(1)">&raquo;</a></li>
    <li><a ng-href="#" ng-click="pagination.loadLastPage()">&raquo;|</a></li>
</ul>