@()

@template{
<section ng-init="retrieve()">
    <section class="row role-info" >
        <article class="col-md-8 role-info-main">
            <form class="panel panel-info" name="roleForm">
                <header class="panel-heading">
                    <div class="panel-title">
                        <p ng-hide="editmode">{{role.name}}</p>
                        <input type="text" ng-model="role.name" class="form-control" ng-show="editmode">
                    </div>
                    <div class="clearfix"></div>
                </header>
                <div class="panel-body">
                    <div class="role-field-permissions">
                        <label>Permissions</label>
                        <table class ="table">
                            <thead>
                                <th>Name</th>
                                <th>Method</th>
                                <th>Path</th>
                                <th></th>
                            </thead>

                            <tr ng-repeat="p in role.permissions">
                                <td>{{p.name}}</td>
                                <td>{{p.method}}</td>
                                <td>{{p.path}}</td>
                                <td><button type="button" ng-click="removePermission($index)" class="btn btn-primary" ng-show="editmode">Remove</button></td>
                            </tr>
                            <tr ng-show="editmode">
                                <td colspan="3">
                                    <select ng-model="permission" ng-options="p as p.name for p in permissions" class="form-control pull-right"></select>
                                </td>
                                <td>
                                    <button type="button" ng-click="addPermission()" class="btn btn-primary">Add</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <footer>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-xs btn-info" ng-click="editmode=true" ng-hide="editmode">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-xs btn-info" ng-show="editmode && roleForm.$dirty" ng-click="update()">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-xs btn-info" ng-show="editmode" ng-click="retrieve()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </footer>

            </form>
        </article>
        <aside class="col-md-4 role-info-details">
            <div class="panel panel-info">
                <header class="panel-heading">
                    <div class="panel-title">
                        <label>ID</label>
                        <a ng-href="{{role.url}}" class="pull-right">{{role.key}}</a>
                    </div>
                </header>
                <div class="panel-body">
                    <p>
                        <label>Create Date</label><span class="pull-right">{{role.creation_date | date:'dd.MM.yyyy HH:mm'}}</span>
                    </p>
                    <p>
                        <label>Update date</label><span class="pull-right">{{role.update_date | date:'dd.MM.yyyy HH:mm'}}</span>
                    </p>
                </div>
            </div>
        </aside>
    </section>
</section>
}