@()

@template{


<div ng-init="loadRoles()">
    <div class="panel panel-primary">
        <div class="panel-heading" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
            <h3 class="panel-title">Create a new role</h3>
        </div>
        <div class="panel-body" ng-hide="isCollapsed">
            <table class="table">
                <tbody>
                    <tr>
                        <td><label>Name</label></td>
                        <td><input type="text" class="form-control" ng-model="role.name" placeholder="Please enter name..."/></td>
                    </tr>
                    <tr>
                        <td><label>Key</label></td>
                        <td><input type="text" class="form-control" ng-model="role.key" placeholder="Please enter key..."/></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" ng-show="role.name.length" ng-hide="isCollapsed">
            <button type="button" ng-click="create()" class="btn primary">Create</button>
        </div>
    </div>

    <h4>{{pagination.range}} / {{pagination.total}} Role(s)</h4>

    <table class="table" ng-show="roles.length">
        <thead>
        <tr>
            <th>Created</th>
            <th>Updated</th>
            <th>Name</th>
            <th>*</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="role in roles">
            <td>{{role.creation_date | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{role.update_date | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><a ng-href="/roles/{{role.key}}">{{role.name}}</a></td>
            <td>
                <div class='input-group-btn' ng-show="role.actions.length">
                    <button type='button' class='btn btn-primary dropdown-toggle btn-xs' data-toggle='dropdown'>Action
                        <span class='caret'></span>
                    </button>
                    <ul class='dropdown-menu'>
                        <li ng-repeat="action in role.actions">
                            <a href="{{action.url}}">{{action.name}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    @pagination()
</div>

}