@()

<div class="alert alert-dismissable" ng-repeat="alert in alerts.all()" ng-class="alert.type">
        [{{alert.time | date: 'HH:mm:ss'}}] <strong>{{alert.message}}</strong> (x{{alert.count}})
    <button type="button" class="close"  ng-click="alerts.clear($index)">&times;</button>


</div>

