
<table class="table">
    <thead>
        <th width="20%">Date</th>
        <th>Author</th>
        <th>Action</th>
        <th>Details</th>
    </thead>
    <tbody>
        <tr ng-repeat="entry in history">
            <td>{{entry.entry_date | date:'dd.MM.yyyy HH:mm'}}</td>
            <td><a ng-href="/users/{{entry.author._id}}">{{entry.author.displayName}}</a></td>
            <td>{{entry.action}}</td>
            <td>
                <ul ng-repeat="(key, value) in entry.details">
                    <li><b>{{key}}</b> changed to "<em>{{value}}</em>"</li>
                </ul>
        </tr>
    </tbody>
</table>
