
    <article class="panel panel-info" ng-repeat="comment in comments" ng-init="isCollapsed=false">
        <header class="panel-heading">
            <small><a ng-href="/users/{{comment.author._id}}">{{comment.author.firstname}}</a> commented</small>
            <small class="pull-right">{{comment.creation_date | date:'dd.MM.yyyy HH:mm'}}</small>
            <a ng-href="#" ng-click="isCollapsed = !isCollapsed">
                <span class="glyphicon glyphicon-collapse-down" ng-show="isCollapsed"></span>
                <span class="glyphicon glyphicon-collapse-up" ng-show="!isCollapsed"></span>
            </a>
        </header>
        <div class="panel-body" ng-hide="isCollapsed">
            {{comment.content}}
        </div>
        <footer class="panel-footer" ng-hide="isCollapsed">
                <div class="btn-group pull-left">
                    <button type="button" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-envelope"></span></button>
                </div>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-remove"></span></button>
                    <button type="button" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
                <div class="clearfix"></div>
        </footer>
    </article>

    <article class="panel panel-info">
        <header class="panel-heading">
            <small>Enter a new comment</small>
        </header>
        <div class="panel-body">
            <textarea class="form-control" rows="3" ng-model="comment.content" placeholder="Type the comment here"/>
        </div>
        <footer class="panel-footer">
            <div class="btn-group pull-right">
                <button type="button" ng-click="addComment()" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="clearfix"></div>
        </footer>
    </article>
