@()

@template{


<div ng-init="loadTickets()">
    <div class="panel panel-primary">
        <div class="panel-heading" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
            <h3 class="panel-title">Submit a ticket</h3>
        </div>
        <div class="panel-body" ng-hide="isCollapsed">
            <table class="table">
                <tbody>
                    <tr>
                        <td><label>Title</label></td>
                        <td><input type="text" class="form-control" ng-model="ticket.title" placeholder="Please enter title..."/></td>
                    </tr>
                    <tr ng-show="ticket.title.length">
                        <td><label>Description</label></td>
                        <td><textarea class="form-control" ng-model="ticket.description" row="5"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" ng-show="ticket.title.length" ng-hide="isCollapsed">
            <button type="button" ng-click="create()" class="btn primary">Submit</button>
        </div>
    </div>

    <h4>{{pagination.range}} / {{pagination.total}} Ticket(s)</h4>

    <table class="table" ng-show="tickets.length">
        <thead>
        <tr>
            <th>Created</th>
            <th>Updated</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Key</th>
            <th>Title</th>
            <th>Reporter</th>
            <th>*</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ticket in tickets">
            <td>{{ticket.creation_date | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{ticket.update_date | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><span ng-class="{glyphicon: true, 'glyphicon-folder-open': ticket.status != 1, 'glyphicon-folder-close': ticket.status == 1}"></span></td>
            <td><span class="badge">{{ticket.priority}}</span></td>
            <td><a ng-href="/tickets/{{ticket.key}}">{{ticket.key}}</a></td>
            <td><a ng-href="/tickets/{{ticket.key}}">{{ticket.title}}</a></td>
            <td>
                <a ng-href="users/{{ticket.reporter._id}}">{{ticket.reporter.name}}</a>
            </td>
            <td>
                <div class='input-group-btn' ng-show="ticket.actions.length">
                    <button type='button' class='btn btn-primary dropdown-toggle btn-xs' data-toggle='dropdown'>Action
                        <span class='caret'></span>
                    </button>
                    <ul class='dropdown-menu'>
                        <li ng-repeat="action in ticket.actions">
                            <a href="{{action.url}}">{{action.name}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    @pagination()
</div>

}