@()

@template{
<section ng-init="retrieve()">
    <section class="row ticket-info" >
        <article class="col-md-8 ticket-info-main">
            <form class="panel panel-info" name="ticketForm">
                <header class="panel-heading">
                    <div class="panel-title">
                        <p ng-hide="editmode">@i18n("module.tickets.single.title", "{{ticket.title}}", "{{ticket.requester.name}}")</p>
                        <input type="text" ng-model="ticket.title" class="form-control" ng-show="editmode">

                    </div>
                    <div class="clearfix"></div>
                </header>
                <div class="panel-body">
                    <div class="ticket-field-assignee">
                        <label>Assignee</label>
                        <p ng-hide="editmode">{{ticket.assignee.name}}</p>
                        <select ng-model="ticket.assignee" class="form-control pull-right" ng-show="editmode" />
                    </div>
                    <div class="ticket-field-priority">
                        <label>Priority</label>
                        <p ng-hide="editmode">{{extractedPriority}}</p>
                        <select ng-model="ticket.priority" ng-options="p.order as p.value for p in priorities.values" class="form-control pull-right" ng-show="editmode"></select>
                    </div>
                    <div class="ticket-field-status">
                        <label>Status</label>
                        <p ng-hide="editmode">{{extractedStatus}}</p>
                        <select ng-model="ticket.status" ng-options="p.order as p.value for p in statuses.values" class="form-control pull-right" ng-show="editmode"></select>
                    </div>
                    <div class="ticket-field-description" >
                        <label>Description</label>
                        <p ng-hide="editmode" >{{ticket.description}}</p>
                        <textarea ng-model="ticket.description" class="form-control" rows=3 ng-show="editmode"/>
                    </div>
                    <div class="ticket-field-solution">
                        <label>Solution</label>
                        <p ng-hide="editmode">{{ticket.solution}}</p>
                        <textarea ng-model="ticket.solution" class="form-control" rows=3 ng-show="editmode"/>
                    </div>
                </div>
                <footer>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-xs btn-info" ng-click="editmode=true" ng-hide="editmode">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-xs btn-info" ng-show="editmode && ticketForm.$dirty" ng-click="update()">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-xs btn-info" ng-show="editmode && ticketForm.$dirty" ng-click="retrieve()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </footer>

            </form>
        </article>
        <aside class="col-md-4 ticket-info-details">
            <div class="panel panel-info">
                <header class="panel-heading">
                    <div class="panel-title">
                        <label>ID</label>
                        <a ng-href="{{ticket.url}}" class="pull-right">{{ticket.key}}</a>
                    </div>
                </header>
                <div class="panel-body">
                    <p>
                        <label>Reporter</label><span class="pull-right">{{ticket.reporter.name}}</span>
                    </p>
                    <p>
                        <label>Create Date</label><span class="pull-right">{{ticket.creation_date | date:'dd.MM.yyyy HH:mm'}}</span>
                    </p>
                    <p>
                        <label>Update date</label><span class="pull-right">{{ticket.update_date | date:'dd.MM.yyyy HH:mm'}}</span>
                    </p>
                </div>
            </div>
        </aside>
    </section>

    <section class="comments row col-md-12" ng-init="selectedTab = 'discussion'">
        <nav class="">
            <ul class="nav nav-tabs">
                <li ng-class="{active: selectedTab == 'discussion'}"><a ng-href="#" ng-click="selectedTab = 'discussion'">@i18n("module.tickets.single.discussion")</a></li>
                <li ng-class="{active: selectedTab == 'history'}"><a ng-href="#" ng-click="selectedTab = 'history'">@i18n("module.tickets.single.history")</a></li>
                <li ng-class="{active: selectedTab == 'related'}"><a ng-href="#" ng-click="selectedTab = 'related'">@i18n("module.tickets.single.related")</a></li>
            </ul>
        </nav>
        <div ng-show="selectedTab == 'discussion'">@tab_comments()</div>
        <div ng-show="selectedTab == 'history'">@tab_history()</div>
        <div ng-show="selectedTab == 'related'">@tab_related()</div>

    </section>
</section>
}