@template{

<div ng-init="loadUsers()">

    <div class="panel panel-primary">
        <div class="panel-heading" ng-init="isCollapsed=true" ng-click="isCollapsed=!isCollapsed">
            <h3 class="panel-title">Create a User</h3>
        </div>
        <div class="panel-body" ng-hide="isCollapsed">
            <table class="table">
                <tbody>
                <tr>
                    <td><label>Username</label></td>
                    <td><input type="text" class="form-control" ng-model="user.username"/></td>
                </tr>
                <tr>
                    <td><label>First Name</label></td>
                    <td><input type="text" class="form-control" ng-model="user.firstname"/></td>
                </tr>
                <tr>
                    <td><label>Last Name</label></td>
                    <td><input type="text" class="form-control" ng-model="user.lastname"/></td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="text" class="form-control" ng-model="user.email"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" ng-hide="isCollapsed">
            <button type="button" ng-click="create()" class="btn btn-primary">Create</button>
        </div>
    </div>

    <h4>{{pagination.range}} / {{pagination.total}} user(s)</h4>

    <table class="table" ng-show="users.length">
        <thead>
        <tr>
            <th width="20%">Created</th>
            <th width="20%">Username</th>
            <th width="25%">Name</th>
            <th width="25%">Last Name</th>
            <th width="10%">*</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.creation_date | date:'dd.MM.yyyy HH:mm'}}</td>
            <td><a ng-href="/users/{{user.username}}">{{user.username}}</a></td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>
                <div class='input-group-btn' ng-show="user.actions.length">
                    <button type='button' class='btn btn-primary dropdown-toggle btn-xs' data-toggle='dropdown'>Action
                        <span class='caret'></span>
                    </button>
                    <ul class='dropdown-menu'>
                        <li ng-repeat="action in user.actions">
                            <a href="{{action.url}}">{{action.name}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    @pagination()
</div>

}