@()

@template{
<section ng-init="retrieve()">
    <section class="row user-info" >
        <article class="col-md-8 user-info-main">
            <form class="panel panel-info" name="userForm">
                <header class="panel-heading">
                    <div class="panel-title">
                        <p>{{user.username}}</p>
                    </div>
                </header>
                <div class="panel-body">
                    <div class="user-field-firstname">
                        <label>First Name</label>
                        <p ng-hide="editmode">{{user.firstname}}</p>
                        <input type="text" ng-model="user.firstname" class="form-control" ng-show="editmode">
                    </div>
                    <div class="user-field-lastname">
                        <label>Last Name</label>
                        <p ng-hide="editmode">{{user.lastname}}</p>
                        <input type="text" ng-model="user.lastname" class="form-control" ng-show="editmode">
                    </div>
                    <div class="user-field-email">
                        <label>Email</label>
                        <p ng-hide="editmode">{{user.email}}</p>
                        <input type="text" ng-model="user.email" class="form-control" ng-show="editmode">
                    </div>
                    <div class="user-field-organisation">
                        <label>Organisation</label>
                        <select ng-model="user.organisation" ng-options="o._id as o.name for o in organisations" class="form-control pull-right" ng-disabled="!editmode"></select>
                    </div>
                </div>
                <footer>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-xs btn-info" ng-click="editmode=true" ng-hide="editmode">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-xs btn-info" ng-show="editmode && userForm.$dirty" ng-click="update()">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-xs btn-info" ng-show="editmode && userForm.$dirty" ng-click="retrieve()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </footer>

            </form>
        </article>
        <aside class="col-md-4 ticket-info-details">
            <div class="panel panel-info">
                <header class="panel-heading">
                    <div class="panel-title">
                        <label>ID</label>
                        <a ng-href="/users/{{user._id}}" class="pull-right">{{user._id}}</a>
                    </div>
                </header>
                <div class="panel-body">
                    <p>
                        <label>Create Date</label><span class="pull-right">{{user.creation_date | date:'dd.MM.yyyy HH:mm'}}</span>
                    </p>
                    <p>
                        <label>Update date</label><span class="pull-right">{{user.update_date | date:'dd.MM.yyyy HH:mm'}}</span>
                    </p>
                </div>
            </div>
        </aside>
    </section>

    <section class="comments row col-md-12" ng-init="selectedTab = 'history'">
        <nav class="">
            <ul class="nav nav-tabs">
                <li ng-class="{active: selectedTab == 'history'}"><a ng-href="#" ng-click="selectedTab = 'history'">@i18n("module.tickets.single.history")</a></li>
                <li ng-class="{active: selectedTab == 'related'}"><a ng-href="#" ng-click="selectedTab = 'related'">@i18n("module.tickets.single.related")</a></li>
            </ul>
        </nav>
        <div ng-show="selectedTab == 'history'">@tab_history()</div>
        <div ng-show="selectedTab == 'related'">@tab_related()</div>

    </section>
</section>
}